.main-container {
  display: flex;
  height: 100vh;
}

.main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.main-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-button {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border: gray 2px solid;
  cursor: pointer;
  color: white;
}

.login-button {
  background-color: #3498db;
}

.register-button {
  background-color: #2ecc71;
}

.main-button:hover {
  opacity: 0.9;
}