.page-container {
  display: flex;
  height: 100vh; /* ocupa toda la pantalla */
}

.message-list-container {
  width: 70%;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.message-typer-container {
  width: 30%;
  padding: 20px;
}